extends  ../app/index
block title
    title= title
block content
    h1= title
    #user-card
        if (cart.length)
            table.table.table-striped
                thead
                    tr
                        th Название
                        th Кол-во
                        th Действие
                tbody
                    each val in cart
                        tr
                            td= val.title
                            td= val.count
                            td
                                button.btn.btn-danger.btn-sm.remove-item(data-id= val._id) Удалить
            p
                strong Товаров на сумму:
                strong.price= total
        else
            .alert.alert-info Ваша корзина пуста.